.App {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
#targetButton {
  padding: 10px;
  background-color: #3498db;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
